<md-table-container>
    <table md-table ng-model="selected" md-progress="promise">
        <thead md-head>
            <tr md-row>
                <!--<th md-column>Type</th>-->
                <th md-column >Info</th>
                <th md-column>Category</th>
                <th md-column>Account</th>
                <th md-column md-numeric>Amount</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-auto-select ng-repeat="transaction in vm.getTransactions()">
                <!--<tr md-cell>{{transaction.isExpense}}</tr>-->
                <td md-cell>{{transaction.info}}</td>
                <td md-cell>{{transaction.catId}}</td>
                <td md-cell>{{transaction.accId}}</td>
                <td md-cell>{{transaction.amount}}{{ (transaction.isExpense)? 'exp' : 'inc' }}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>